
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			<h1>days</h1>
		</div>
		<div fxFlex="30" class="sec2">
			<h1>start time</h1>
		</div>
		<div fxFlex="55" class="sec3" fxFlex.xs="15">
			<h1>end time</h1>
		</div>
    <div fxFlex="55" class="sec3" fxFlex.xs="15">
			<h1>add/remove</h1>
		</div>

	</div>

</div>
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="sundayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Sunday
    </div>
    <div formArrayName="sunday"  fxFlex="85" >
      <div *ngFor="let time of getSundayTime.controls; let i=index"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" (click)="check(time)" >
            <input  [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" [(ngModel)]="myProperty "placeholder="Start Time" aria-label="12hr format" [ngxTimepicker]="monStart" readonly>
            <ngx-material-timepicker #monStart></ngx-material-timepicker>
       </div>
      
             </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
          
            <input [formControlName]="'endingTime'"[min]="time.controls.startingTime.value" placeholder="End Time" aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   

          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">

          <mat-icon (click)="addSundayTime()" *ngIf="i===getSundayTime.controls.length-1">alarm_add</mat-icon>
          <mat-icon (click)="deleteSundayTime(i)">delete_outline</mat-icon>

        </div>
      </div>

    
    </div>


  </div>
  
</div>

<mat-divider></mat-divider>

<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="mondayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Monday
    </div>
    <div formArrayName="monday"  fxFlex="85" >
      <div *ngFor="let time of getmondayTime.controls; let i=index last as isLast"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" >
            <input [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" placeholder="Start Time" aria-label="12hr format" [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
       </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
            <input [formControlName]="'endingTime'" [min]="time.controls.startingTime.value" placeholder="End Time" aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   
          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
         
            <mat-icon (click)="addMondayTime()" *ngIf="i===getmondayTime.controls.length-1">alarm_add</mat-icon>
            <mat-icon (click)="deleteMondayTime(i)">delete_outline</mat-icon>

         
        </div>
      </div>

    
    </div>


  </div>
  
</div>
<mat-divider></mat-divider>
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="tuesdayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Tuesday
    </div>
    <div formArrayName="tuesday"  fxFlex="85" >
      <div *ngFor="let time of getTuesdayTime.controls; let i=index"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" >
            <input [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" placeholder="Start Time" aria-label="12hr format" [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
       </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
            <input [formControlName]="'endingTime'" [min]="time.controls.startingTime.value" placeholder="End Time" aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   
          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <mat-icon (click)="addTuesdayTime()" *ngIf="i===getmondayTime.controls.length-1">alarm_add</mat-icon>
          <mat-icon (click)="deleteTuesdayTime(i)">delete_outline</mat-icon>
       
        </div>
      </div>
    </div>
  </div>
  
</div>
<mat-divider></mat-divider>
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="wednesdayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Wednesday
    </div>
    <div formArrayName="wednesday"  fxFlex="85" >
      <div *ngFor="let time of getWednesdayTime.controls; let i=index"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" >
            <input [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" placeholder="Start Time" aria-label="12hr format" [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
            
       </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
            <input [formControlName]="'endingTime'" [min]="time.controls.startingTime.value" placeholder="End Time" aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   
          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          
          <mat-icon (click)="addWednesdayTime()" *ngIf="i===getWednesdayTime.controls.length-1">alarm_add</mat-icon>
          <mat-icon (click)="deleteWednesdayTime(i)">delete_outline</mat-icon>
        </div>
      </div>

    
    </div>


  </div>
  
</div>
<mat-divider></mat-divider>
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="thursdayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Thursday
    </div>
    <div formArrayName="thursday"  fxFlex="85" >
      <div *ngFor="let time of getThursdayTime.controls; let i=index"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" >
            <input [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" placeholder="Start Time"  aria-label="12hr format" [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
       </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
            <input [formControlName]="'endingTime'" [min]="time.controls.startingTime.value" placeholder="End Time" aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   
          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
         
          <mat-icon (click)="addThursdayTime()" *ngIf="i===getThursdayTime.controls.length-1">alarm_add</mat-icon>
          <mat-icon (click)="deleteThursdayTime(i)">delete_outline</mat-icon>
        </div>
      </div>

    
    </div>


  </div>
  
</div>
<mat-divider></mat-divider>
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="fridayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Friday
    </div>
    <div formArrayName="friday"  fxFlex="85" >
      <div *ngFor="let time of getFridayTime.controls; let i=index"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" >
            <input [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" placeholder="Start Time" aria-label="12hr format" [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
       </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
            <input [formControlName]="'endingTime'" [min]="time.controls.startingTime.value"placeholder="End Time" aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   
          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <mat-icon (click)="addFridayTime()" *ngIf="i===getFridayTime.controls.length-1">alarm_add</mat-icon>
          <mat-icon (click)="deleteFridayTime(i)">delete_outline</mat-icon>
        
        </div>
      </div>

    
    </div>


  </div>
  
</div>
<mat-divider></mat-divider>
<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill  [formGroup]="saturdayForm">

		<div fxFlex="15" class="sec1" fxFlex.xs="55">
			Saturday
    </div>
    <div formArrayName="saturday"  fxFlex="85" >
      <div *ngFor="let time of getSaturdayTime.controls; let i=index"  [formGroupName]="i" >
        <div fxFlex="30" class="sec2">
          <div class="12hr-example" >
            <input [formControlName]="'startingTime'" [max]="time.controls.endingTime.value" placeholder="Start Time" aria-label="12hr format" [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
       </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          <div class="12hr-example" >
            <input [formControlName]="'endingTime'" placeholder="End Time" [min]="time.controls.startingTime.value"aria-label="12hr format" [ngxTimepicker]="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
            <mat-error *ngIf="time.hasError('time')">
              End time must greator than starting time
          </mat-error>   
          </div>
        </div>
        <div fxFlex="60" class="sec3" fxFlex.xs="15">
          
          <mat-icon (click)="addSaturdayTime()" *ngIf="i===getSaturdayTime.controls.length-1">alarm_add</mat-icon>
          <mat-icon (click)="deleteSaturdayTime(i)">delete_outline</mat-icon>
        </div>
      </div>

    
    </div>


  </div>
  
</div>